<div class="jumbotron jumbotron-fluid mb-0">
  <div class="text-center">
    <h1 class="catchcopy">「ココのコレが美味かった」をシェアしよう！</h1>
    <div class="mt-5"><%= link_to "会員登録から始める", "/signup", class: "btn btn-lg btn-primary" %></div>
  </div>
</div>