<% @foods.each do |food| %>
<div class="card">
  <div class="card-body">
    <h1><%= link_to food.name, "/foods/#{food.id}" %></h1>
    <%= food.description %>
    <p class="text-muted"></p><%= food.shop_name %></p>
  </div>
</div>
<% end %>