@import "bootstrap";

body {
  padding-top: 56px;;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  background-image: url('/assets/jumbotron.jpg');
  background-size: cover;
  background-attachment: fixed;
  
  .catchcopy {
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 3px #000;
  }
}

.user_image {
  img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}